#barchart,
#baryear,
#barweek{
	background-color: transparent;
	width: 1328px;
	margin-left: 150px;
	margin-top: 1em;
}
#barchart span,
#baryear span,
#barweek span{
	display: inline-block;
	text-align: center;
	padding: 1em 0;
}
span.q0-11{background-color:rgb(165,0,38)}
span.q1-11{background-color:rgb(215,48,39)}
span.q2-11{background-color:rgb(244,109,67)}
span.q3-11{background-color:rgb(253,174,97)}
span.q4-11{background-color:rgb(254,224,139)}
span.q5-11{background-color:rgb(255,255,191)}
span.q6-11{background-color:rgb(217,239,139)}
span.q7-11{background-color:rgb(166,217,106)}
span.q8-11{background-color:rgb(102,189,99)}
span.q9-11{background-color:rgb(26,152,80)}
span.q10-11{background-color:rgb(0,104,55)}
