body {
  font: 18px Consolas,monaco,monospace;
  shape-rendering: crispEdges;
  background: white; /* invisible */
  background-image: url(ashtanga_logo.svg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-blend-mode: overlay;
	padding: 0;
	margin: 0;
}
a{ color: inherit; text-decoration: none; }
a:hover{ text-decoration: underline; }
button{
	cursor: pointer;
	border: 1px solid #a50026;
	border-radius: 4px;
	padding: 0.5em 1em;
	font-size: 14px;
	line-height: 1em;
	background-color: #ffffbf;
	color: #a50026;
	margin: 1em auto;
	display: block;
}
button:hover { background-color: transparent; }
button:active { background-color: #a50026; }
button:focus { outline:0; }
main { min-height: 40em; }
#commands > p {
	text-align: center;
	margin: 0;
	padding: 1em;
}
.year:first-of-type {
  /*margin-top: 60px;*/
}

.day {
  fill: #fff;
  stroke: #ccc;
}

.pie {
  shape-rendering: initial;
}

.night {
  fill: #EDEDED;
  stroke: #ccc;
}

.month {
  fill: none;
  stroke: #000;
  stroke-width: 2px;
}

.sums {
  font-size: small;
}

.legend {
  /*position: absolute;
  top: 30px;
  left: 0;*/
}

.round {
  /*padding-left: 150px;
  padding-top: 20px;*/
  padding-top: 50px;
  font-size: smaller;
}

.RdYlGn .q0-11{fill:rgb(165,0,38)}
.RdYlGn .q1-11{fill:rgb(215,48,39)}
.RdYlGn .q2-11{fill:rgb(244,109,67)}
.RdYlGn .q3-11{fill:rgb(253,174,97)}
.RdYlGn .q4-11{fill:rgb(254,224,139)}
.RdYlGn .q5-11{fill:rgb(255,255,191)}
.RdYlGn .q6-11{fill:rgb(217,239,139)}
.RdYlGn .q7-11{fill:rgb(166,217,106)}
.RdYlGn .q8-11{fill:rgb(102,189,99)}
.RdYlGn .q9-11{fill:rgb(26,152,80)}
.RdYlGn .q10-11{fill:rgb(0,104,55)}

/*LOGIN*/
#login_button_div {
	text-align: center;
	margin-top: 1em;
}

footer{

}